* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  font-size: medium;
}

body {
  text-align: center;

  color: black;

  background: linear-gradient(-45deg, #222222, #00ff33, #9000ff, #eeff00);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
  height: 100vh;
  overflow-y: hidden;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#box {
  margin: auto;
  width: 60vw;

  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  padding: 1vh;
  /* margin-top: 1vh;
  margin-left: 10vh;
  margin-right: 10vh; */
}
#reponse {
  visibility: hidden;
  width: 240px;
  margin: 10px auto 0;
}
button {
  padding: 20px;
  margin: 5px;
  background-color: black;
  color: white;
  border: 1px solid black;
  border-radius: 1vw;
  color: white;
  cursor: pointer;
}
.imgToC {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.475);
  width: 40vw;
  height: auto;
}
#Container {
  position: relative;

  top: -10px;
}
.boxInfo {
  margin: auto;
  width: 20vw;

  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  padding: 1vh;
  text-align: center;
}
.CountSet {
  font-size: larger;
}
.footer {
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  background-color: rgba(0, 0, 0, 0.704);

  text-align: center;
}
