* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
}

body {
  text-align: center;

  color: white;

  background-color: rgb(38, 38, 38);
}

#box {
  border: 6px solid black;
  border-radius: 20px;
  background-color: rgb(73, 73, 73);
  padding: 10px;
}
#reponse {
  visibility: hidden;
  width: 240px;
  margin: 10px auto 0;
}
button {
  padding: 50px;
  margin: 20px;
  background-color: black;
  color: white;
  border: 6px solid black;
  border-radius: 50px;
}
.imgToC {
  border-radius: 30px;
}
